.login-location {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
    min-width: 100vw;
}

.login-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    box-shadow: 5px 10px #888888;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    margin: 0;
    width: 350px;
}