.ProfilePageBackground {
    display: inline-block;
    background-color: #242424;
    width: inherit;
    height: inherit;
}

.ProfilePageInformation {
    display: inline-block;
    backdrop-filter: blur(100px);
    background-color: rgb(20, 84, 97);
    width: 70%;
    height: 100%;
    margin: auto;
    border: 5px solid;
    padding: 10px;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 1;
}

.ProfilePictureBox {
    width: 17%;
    height: 20%;
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
}

.ProfileBanner {
    width: 73%;
    height: 20%;
    border: 5px solid black;
    margin: 10px;
}

.ProfileSkills {
    list-style-type: square;
    border: #242424;
    margin: 10px;
}

.SkillsBox {
    border: 5px solid #242424;
    width: 17%;
    height: 63%;
    margin: 10px;
    float: left;
}

.ProfileAboutMe {
    padding-left: 10px;
    border: 5px solid black;
    width: 73%;
    height: 63%;
    float: left;
    margin: 10px;
}

.button {
    border: 2px solid black;
    border-color: black;
    color: black;
    background-color: blanchedalmond;
}

.test-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.flex-box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
}