.ProfilePageBackground {
    display: inline-block;
    background-color: #242424;
    width: inherit;
    height: inherit;
}

.ProfilePageInformation {
    display: inline-block;
    background-color: rgb(20, 84, 97);
    width: 70%;
    height: 100%;
    margin: auto;
    border: 5px solid;
    padding: 10px;
    top: 0%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
}

.ProfilePictureBox {
    width: 17%;
    height: 20%;
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
}

.ProfileBanner {
    width: 63%;
    height: 20%;
    border: 5px solid black;
    margin: 10px;
}